{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12 text-center">
        <h1>Olá Usuário</h1>
    </div>
</div>
<div class="row">
    <div class=" text-center text-muted col-md-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet dignissimos dolore ea enim excepturi illum ipsa ipsam maxime minima modi nulla perferendis quae quidem quod temporibus ullam, velit voluptate?</div>
    <div class=" text-center text-muted col-md-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda culpa cupiditate fugiat ipsa sint? Asperiores, blanditiis cupiditate facere iste labore pariatur perferendis reiciendis tempore? Accusantium deserunt exercitationem minus sunt tempore.</div>
</div>
{% endblock %}